name: Gradle Build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        java: [1.8, 1.11]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build Library
      uses: nick-invision/retry@v2
      with:
        max_attempts: 3
        command: ./gradlew build
    - name: Publish to Maven Local
      if: contains(github.event.pull_request.labels.*.name, 'prerelease')
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: publishToMavenLocal
    - name: Build Examples
      uses: nick-invision/retry@v2
      with:
        max_attempts: 3
        command: ./examples/gradlew build
