# Local:
# $ act -P ubuntu-latest=catthehacker/ubuntu:act-latest -W .github/workflows/gradle.yml
name: Gradle Build
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Test on Mac
      if: matrix.os == 'macos-13'
      run: |
        brew install docker colima
        colima start --network-address
        export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
        export TESTCONTAINERS_HOST_OVERRIDE=$(colima ls -j | jq -r '.address')
        export DOCKER_HOST="unix://${HOME}/.colima/default/docker.sock"
        ./gradlew test

    - name: Test on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        ./gradlew test
